In [99]:
#for the FIRST ONE you do this
Amt=1500
interest=14.71/100
initYear=0
finYear=10
for year in range(finYear) :
    Amt += (Amt*(interest))
    print("Value: ${}, Year: {} ".format(round(Amt,2),year+1))
print("\nAfter {} years, You will have ${} in your retirement account.".format(year+1, round(Amt,2)))

Value: $1720.65, Year: 1
Value: $1973.76, Year: 2
Value: $2264.1, Year: 3
Value: $2597.15, Year: 4
Value: $2979.19, Year: 5
Value: $3417.42, Year: 6
Value: $3920.13, Year: 7
Value: $4496.78, Year: 8
Value: $5158.25, Year: 9
Value: $5917.03, Year: 10

After 10 years, You will have $5917.03 in your retirement account.