In [1]:
import pandas as pd
import pip
pip.main(["install","openpyxl"])
import openpyxl as xls
from datetime import datetime

orderBase=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order base data.csv")
customerData=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\customer base data.csv")
orderItems=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order items data.csv")

display(orderBase,customerData,orderItems)

C:\JupyterLab\resources\jlab_server\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in c:\jupyterlab\resources\jlab_server\lib\site-packages (3.0.9)

Requirement already satisfied: et-xmlfile in c:\jupyterlab\resources\jlab_server\lib\site-packages (from openpyxl) (1.1.0)

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.0000000,58.90
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.0000000,239.90
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.0000000,199.00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18.0000000,12.99
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51.0000000,199.90
...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01.0000000,299.99
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48.0000000,350.00
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.0000000,99.90
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.0000000,55.99
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13.0000000,43.00

In [3]:
oBaseMerge=orderBase.drop(columns=['date_shipped','date_arrived','date_estimated'])
custMerge=customerData.drop(columns=['customer_zip_code_prefix','customer_city'])
oItems=orderItems.drop(columns=['seller_id','shipping_limit_date','price'])

tb1=pd.merge(custMerge,oBaseMerge, on="customer_id", how="left")

tb1

,customer_id,customer_unique_id,customer_state,order_id,order_status,date_approved
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:22:12.0000000
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:58:32.0000000
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-20 16:19:10.0000000
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 17:29:19.0000000
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 10:10:09.0000000
...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 16:08:45.0000000
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:35:12.0000000
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:30:03.0000000
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:31:20.0000000
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 18:50:39.0000000

In [7]:
tb2=pd.merge(tb1,oItems, on="order_id", how="left")
tb2

,customer_id,customer_unique_id,customer_state,order_id,order_status,date_approved,order_item_id,product_id
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:22:12.0000000,1.0,a9516a079e37a9c9c36b9b78b10169e8
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:58:32.0000000,1.0,4aa6014eceb682077f9dc4bffebc05b0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-20 16:19:10.0000000,1.0,bd07b66896d6f1494f5b86251848ced7
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 17:29:19.0000000,1.0,a5647c44af977b148e0a3a4751a09e2e
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 10:10:09.0000000,1.0,9391a573abe00141c56e38d84d7d5b3b
...,...,...,...,...,...,...,...,...
113420,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 16:08:45.0000000,1.0,ccb4503d9d43d245d3b295d0544f988b
113421,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:35:12.0000000,1.0,9ede6b0570a75a4b9de4f383329f99ee
113422,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:30:03.0000000,1.0,7a5d2e1e131a860ae7d18f6fffa9d689
113423,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:31:20.0000000,1.0,f819f0c84a64f02d3a5606ca95edd272
113424,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 18:50:39.0000000,1.0,017692475c1c954ff597feda05131d73

In [9]:
tb3=tb2.drop_duplicates("customer_unique_id",keep="first").reset_index()
del tb3["index"]
display(tb3)

,customer_id,customer_unique_id,customer_state,order_id,order_status,date_approved,order_item_id,product_id
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:22:12.0000000,1.0,a9516a079e37a9c9c36b9b78b10169e8
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:58:32.0000000,1.0,4aa6014eceb682077f9dc4bffebc05b0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-20 16:19:10.0000000,1.0,bd07b66896d6f1494f5b86251848ced7
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 17:29:19.0000000,1.0,a5647c44af977b148e0a3a4751a09e2e
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 10:10:09.0000000,1.0,9391a573abe00141c56e38d84d7d5b3b
...,...,...,...,...,...,...,...,...
96091,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 16:08:45.0000000,1.0,ccb4503d9d43d245d3b295d0544f988b
96092,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:35:12.0000000,1.0,9ede6b0570a75a4b9de4f383329f99ee
96093,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:30:03.0000000,1.0,7a5d2e1e131a860ae7d18f6fffa9d689
96094,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:31:20.0000000,1.0,f819f0c84a64f02d3a5606ca95edd272
96095,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 18:50:39.0000000,1.0,017692475c1c954ff597feda05131d73

In [8]:
tb3.loc[tb3["customer_unique_id"].duplicated(keep=False)]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_state, order_id, order_status, date_approved, order_item_id, product_id]
Index: []

In [12]:
tb2.loc[tb2["customer_unique_id"].duplicated(keep=False)].sort_values(by=['customer_unique_id'],ascending=False)

,customer_id,customer_unique_id,customer_state,order_id,order_status,date_approved,order_item_id,product_id
101707,74be082247cd677a147d83ee670e9d53,fffcf5a5ff07b0908bd4e2dbc735a684,PE,725cf8e9c24e679a8a5a32cb92c9ce1e,delivered,2017-06-08 21:15:16.0000000,1.0,c100e5fef1abb5e1c5054d1dac2d83ac
101708,74be082247cd677a147d83ee670e9d53,fffcf5a5ff07b0908bd4e2dbc735a684,PE,725cf8e9c24e679a8a5a32cb92c9ce1e,delivered,2017-06-08 21:15:16.0000000,2.0,bbc5419bc92d76e27795c9ec2c233c64
58935,7aa03a53e8c6489f3854470b6ebe9537,fff7219c86179ca6441b8f37823ba3d3,RJ,2c43da70769acf988d27b050b189c7fe,delivered,2017-12-28 14:07:35.0000000,1.0,592962829d5a715304344e656e39108a
58936,7aa03a53e8c6489f3854470b6ebe9537,fff7219c86179ca6441b8f37823ba3d3,RJ,2c43da70769acf988d27b050b189c7fe,delivered,2017-12-28 14:07:35.0000000,2.0,056d012d264624accb7f73d31caee034
57627,ed583a2a1eaf0dedc33af816153e8b8c,fff5eb4918b2bf4b2da476788d42051c,PB,cf4659487be50c0c317cff3564c4a840,delivered,2018-07-05 16:04:19.0000000,6.0,bc3c6d2a621414f2e1df7a8a32a2828e
...,...,...,...,...,...,...,...,...
2731,4b95f958af9c866353ae1108d8ebd023,000fbf0473c10fc1ab6f8d2d286ce20c,SP,87440e08790d85796f5b8bc9f5ed2707,delivered,2018-07-27 02:05:20.0000000,2.0,38021cef829efa264df6f9d21c4df6e9
13397,455f2e2988eaf87d7e2ba33b0a57969f,000de6019bb59f34c099a907c151d855,SP,c6d61340bd8baeedca7cc8e7f7ec07e9,delivered,2017-08-17 19:55:22.0000000,1.0,af0a917aec9cea3b353ece61a8825326
13398,455f2e2988eaf87d7e2ba33b0a57969f,000de6019bb59f34c099a907c151d855,SP,c6d61340bd8baeedca7cc8e7f7ec07e9,delivered,2017-08-17 19:55:22.0000000,2.0,9e572ff4654f7064419d97a891a8b0fc
72092,a81ebb9b32f102298c0c89635b4b3154,00053a61a98854899e70ed204dd4bafe,PR,44e608f2db00c74a1fe329de44416a4e,delivered,2018-02-28 11:32:42.0000000,2.0,58727e154e8e85d84052cd22b0136c84
72091,a81ebb9b32f102298c0c89635b4b3154,00053a61a98854899e70ed204dd4bafe,PR,44e608f2db00c74a1fe329de44416a4e,delivered,2018-02-28 11:32:42.0000000,1.0,62984ea1bba7fcea1f5b57084d3bf885

In [13]:
#succesfully cleaned duplicates out

In [47]:
tb3['Date'] = pd.to_datetime(tb3['date_approved']).dt.date
tb3['Quarter'] = pd.to_datetime(tb3['Date']).dt.quarter
tb3['Quarter_Info'] = pd.to_datetime(tb3['Date']).dt.to_period('Q')
tb3

,customer_id,customer_unique_id,customer_state,order_id,order_status,date_approved,order_item_id,product_id,Date,Quarter,Quarter_Info
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:22:12.0000000,1.0,a9516a079e37a9c9c36b9b78b10169e8,2017-05-16,2.0,2017Q2
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:58:32.0000000,1.0,4aa6014eceb682077f9dc4bffebc05b0,2018-01-12,1.0,2018Q1
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-20 16:19:10.0000000,1.0,bd07b66896d6f1494f5b86251848ced7,2018-05-20,2.0,2018Q2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 17:29:19.0000000,1.0,a5647c44af977b148e0a3a4751a09e2e,2018-03-13,1.0,2018Q1
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 10:10:09.0000000,1.0,9391a573abe00141c56e38d84d7d5b3b,2018-07-29,3.0,2018Q3
...,...,...,...,...,...,...,...,...,...,...,...
96091,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 16:08:45.0000000,1.0,ccb4503d9d43d245d3b295d0544f988b,2018-04-07,2.0,2018Q2
96092,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:35:12.0000000,1.0,9ede6b0570a75a4b9de4f383329f99ee,2018-04-04,2.0,2018Q2
96093,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:30:03.0000000,1.0,7a5d2e1e131a860ae7d18f6fffa9d689,2018-04-08,2.0,2018Q2
96094,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:31:20.0000000,1.0,f819f0c84a64f02d3a5606ca95edd272,2017-11-03,4.0,2017Q4
96095,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 18:50:39.0000000,1.0,017692475c1c954ff597feda05131d73,2017-12-19,4.0,2017Q4

In [33]:
tb4=tb3.drop(columns=['Quarter','date_approved'])
tb4

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,1.0,a9516a079e37a9c9c36b9b78b10169e8,2017-05-16,2017Q2
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,29150127e6685892b6eab3eec79f59c7,delivered,1.0,4aa6014eceb682077f9dc4bffebc05b0,2018-01-12,2018Q1
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,1.0,bd07b66896d6f1494f5b86251848ced7,2018-05-20,2018Q2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP,951670f92359f4fe4a63112aa7306eba,delivered,1.0,a5647c44af977b148e0a3a4751a09e2e,2018-03-13,2018Q1
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,1.0,9391a573abe00141c56e38d84d7d5b3b,2018-07-29,2018Q3
...,...,...,...,...,...,...,...,...,...
96091,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,1.0,ccb4503d9d43d245d3b295d0544f988b,2018-04-07,2018Q2
96092,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,1.0,9ede6b0570a75a4b9de4f383329f99ee,2018-04-04,2018Q2
96093,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,CE,fed4434add09a6f332ea398efd656a5c,delivered,1.0,7a5d2e1e131a860ae7d18f6fffa9d689,2018-04-08,2018Q2
96094,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,1.0,f819f0c84a64f02d3a5606ca95edd272,2017-11-03,2017Q4
96095,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,1.0,017692475c1c954ff597feda05131d73,2017-12-19,2017Q4

In [51]:
y1q1=tb4.loc[tb4['Quarter_Info']=='2017Q1'].reset_index()
del y1q1['index']
y1q1

y1q2=tb4.loc[tb4['Quarter_Info']=='2017Q2'].reset_index()
del y1q2['index']


y1q3=tb4.loc[tb4['Quarter_Info']=='2017Q3'].reset_index()
del y1q3['index']


y1q4=tb4.loc[tb4['Quarter_Info']=='2017Q4'].reset_index()
del y1q4['index']


y2q1=tb4.loc[tb4['Quarter_Info']=='2018Q1'].reset_index()
del y2q1['index']


y2q2=tb4.loc[tb4['Quarter_Info']=='2018Q2'].reset_index()
del y2q2['index']


y2q3=tb4.loc[tb4['Quarter_Info']=='2018Q3'].reset_index()
del y2q3['index']

y1=tb4.loc[(tb4['Quarter_Info']>='2017Q1')&(tb4['Quarter_Info']<='2017Q4')].reset_index()
del y1['index']

y2=tb4.loc[(tb4['Quarter_Info']>='2018Q1')&(tb4['Quarter_Info']<='2018Q3')].reset_index()
del y2['index']

#y2q4=tb4.loc[tb4['Quarter_Info']=='2018Q4'].reset_index() ##NO VALUES FOR THE 4TH QUARTER OF 2018##
#del y2q4['index']

display(y1q1,y1q2,y1q3,y1q4,y2q1,y2q2,y2q3,y1.sort_values(by=['Quarter_Info'], ascending=False),y2.sort_values(by=['Quarter_Info'], ascending=False))

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,4d27341acd30a36bca39008ee9bb9050,e021e698833bdeb89dfef3acb2e91f37,SC,38e2829123a2bd1cbe111564824d0abb,delivered,1.0,5bfcd193eb29c1c8332e2d4ca804d54f,2017-01-26,2017Q1
1,0aae2862f8eac77f10a34f44860720ac,cd076285a12f40041b32f5ad8c98699f,SP,0c65b54ed2c147ffd0092eb2308ee63d,delivered,1.0,ab40c45cb88545d5efa2679b30cec4c3,2017-03-23,2017Q1
2,38d1cd89306128348ffdf4cc23f3a50a,d491a65a6ef3c04e145d37395996bad7,SP,e3c131bbe953a1cdb1dbaf261715c368,delivered,1.0,207bb2d8180c2c7654872f6fab96e40e,2017-03-16,2017Q1
3,126cf4e9fd189d2d64bc9b112fd6a5e8,90d479448b39ad9586d05da64cfb695b,CE,af3fae91bafed6357991c4a3be0125d4,delivered,1.0,b79361867edbe85462b548334d136a8a,2017-03-28,2017Q1
4,eb67e9bd3357fbacdbef99759f919573,4bc7250d4b42b3374eb6f41b12429592,SP,42a5f0ddbf1e377e7d31ef5957b62c0a,delivered,1.0,025249b91a565601dc1b8f47ee7a230e,2017-02-06,2017Q1
...,...,...,...,...,...,...,...,...,...
5020,e98998055b4804137a020830903f93f2,e097d846931763789c3fd00b27f3c325,SP,34041ba8694b6808060aafda57f6075e,delivered,1.0,1ce0e963805e3c170485768e8b09fe65,2017-03-20,2017Q1
5021,da37711b17efd5f2539e8196ab215f04,5f2971f9805e3ccb030226e30c8e8390,SP,c8203bb57639618630affac9e8e923dd,delivered,1.0,aea06073397f809424f946979354c9f0,2017-03-27,2017Q1
5022,be631308cb609ff74d0e0fb54815e18c,1c137fe37df712015f6488edafe8ece4,MG,b7ae7c643ef9274727f48dcb0ba08593,delivered,1.0,43f88c8353708451babf9bcdd1fda92a,2017-01-27,2017Q1
5023,ffa6d90c36a9c7004692ca50761c69d6,874c93d867b18eb09a5e2f071ee89458,SP,2816b0ec050fb4a136c32a6bda007a91,delivered,1.0,32267de030005084d4b6af64f22143b8,2017-03-27,2017Q1
5024,14308d2303a3e2bdf4939b86c46d2679,e7f8760e2bbd2f1986bebd99596c088e,PA,ec3a75fb0ac595e461765d2d854b1d08,delivered,1.0,6b5af19067eeadc0f331687a79ca656b,2017-03-15,2017Q1

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,1.0,a9516a079e37a9c9c36b9b78b10169e8,2017-05-16,2017Q2
1,9b8ce803689b3562defaad4613ef426f,7f3a72e8f988c6e735ba118d54f47458,SP,17825f24877a9289214c301ae0c9424b,delivered,1.0,99a4788cb24856965c36a24e339b6058,2017-05-13,2017Q2
2,237098a64674ae89babdc426746260fc,4390ddbb6276a66ff1736a6710205dca,PR,eac4ffbe456464bdc3ce5f001b6439c5,delivered,1.0,a298a105818dce6878b787e4af6cff7d,2017-04-14,2017Q2
3,6e359a57a91f84095cc64e1b351aef8c,2e6a42a9b5cbb0da62988694f18ee295,SP,a8f5a2b22f55e0af45b300929d1fdc7d,delivered,1.0,11b062c710beb867b4897ff2728e828d,2017-05-15,2017Q2
4,b2bed119388167a954382cca36c4777f,e079b18794454de9d2be5c12b4392294,RJ,77b062be7c5bd21712905feb8e1cfeed,delivered,1.0,6421588f55f75de28cb3357e07723d14,2017-06-15,2017Q2
...,...,...,...,...,...,...,...,...,...
8921,059f60d3b37627f51e73eec500dfa1a8,db634985638ec4b6abf8734d7adde1ab,PR,eb5265687d8744ff9d5147004298fb36,delivered,1.0,c0deba3200aa657c933dae7109403ad1,2017-06-23,2017Q2
8922,b6ab7cabd5b094d098e1a1557a6d3f0d,a2325193ac2e95b805642e3100f80af3,SP,648c8fc147248b2db527bd25821f67af,delivered,1.0,0176bf7839ab4e611dc01cdc3ef6f4e4,2017-06-12,2017Q2
8923,a1b5ca506b592bb72d4caadcbfe71385,c811311629fd3d76f5ca5eeb2abfa7e8,SP,65f3d65b89d1fdde15dc314858c9c161,delivered,1.0,a1250bbcaa645885c9165eab1573b5c6,2017-04-10,2017Q2
8924,e5ed7280cd1a3ac2ba29fd6650d8867c,206e64e8af2633a2ebe158a7fcb860db,SP,53cbf33b674d602f6746cb90a9d874fd,delivered,1.0,35afc973633aaeb6b877ff57b2793310,2017-05-16,2017Q2
8925,27b9b32173455ef32167540451749d0b,277490f0d435b602fe4475d4b89e9181,SP,326c29ec5b89834b17aea7d85302fd70,delivered,1.0,99a4788cb24856965c36a24e339b6058,2017-05-25,2017Q2

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,SC,5741ea1f91b5fbab2bd2dc653a5b5099,delivered,1.0,0be701e03657109a8a4d5168122777fb,2017-09-14,2017Q3
1,b2d1536598b73a9abd18e0d75d92f0a3,918dc87cd72cd9f6ed4bd442ed785235,SP,83d8f70418eefd96f37b483dff430305,delivered,1.0,3fc00af0f0a8d4ac2933d3900416c977,2017-09-09,2017Q3
2,154c4ded6991bdfa3cd249d11abf4130,e607ede0e63436308660236f5a52da5e,SC,830d8b3e6875ef6165ffc33219ab4fea,delivered,1.0,130482add9fd75ccb6c57ba007694a2d,2017-08-13,2017Q3
3,261cb4f92498ca05d5bd1a327a261d9c,424aca6872c5bab80780a8dec03b7516,SP,2904d3ae0064e840ffb4798ba4a12ae3,delivered,1.0,422879e10f46682990de24d770e7f83d,2017-09-14,2017Q3
4,54f755c3fd2709231f9964a1430c5218,40febde16f4718a5def537786473b0be,RS,d4668cd8ef48b78df597195703c95da2,delivered,1.0,48633254f8b7b802b1ca8c4f4dcf3e33,2017-08-10,2017Q3
...,...,...,...,...,...,...,...,...,...
12077,7ba8bdd359b397be54d6e280b75b0987,9b03f2721fb73962781bae9322b0c071,MG,1d21d81713a3dea4ee564c915cf2fd94,delivered,1.0,e33df02e384487f2bcd3788619f89215,2017-08-05,2017Q3
12078,0b7a30ba373aeb55cf28add5b5477956,8c8173e547e020f411aa55b2fceed861,PR,e12f5458c6b4f349a97fbf22e08d17ac,delivered,1.0,494c9e9cadda96141fec59b218afc773,2017-08-02,2017Q3
12079,661ab54307d752dcc15fd85d731c0999,a10c0d1e68e919e3d91ed940a0ba6aed,RJ,d0269d8e6e340202e519f59cefeb094d,delivered,1.0,43423cdffde7fda63d0414ed38c11a73,2017-09-18,2017Q3
12080,0d7da1d5507a67dbb512b53744e775e9,a5ba329297100ea689fa263768b35b8b,RS,673242a6057d4287cb24379d405cf5ac,delivered,1.0,65650c84064ff1a79e4a05988f4c3e9f,2017-07-15,2017Q3
12081,94747b8a0c77eb8947fecdfa5b717435,81720bfb69887fe95390723af9748e9f,RJ,f3239f4f6c8cdfc9043534b20c0b6179,delivered,1.0,3a21e6f5a154a5b03b6edb8fc6b24c5d,2017-08-08,2017Q3

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,MG,1093c8304c7a003280dd34598194913d,delivered,1.0,124f74f703e88efe001a10bfa718b6ff,2017-11-16,2017Q4
1,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,MG,8428e578bb1cf839ae26a6b7615502b9,delivered,1.0,6b874ff4c71d18e91079b40396bf176a,2017-11-27,2017Q4
2,49d0ea0986edde72da777f15456a0ee0,3e6fd6b2f0d499456a6a6820a40f2d79,PA,ab797176e01c2fa3d13aa1fe3e63d9ee,delivered,1.0,a0cb23ea9b98f51407ac7bd1fcd29c2e,2017-11-01,2017Q4
3,690172ab319622688d3b4df42f676898,a96d5cfa0d3181817e2b946f921ea021,GO,aaff8afa47c8426e414a6d908a97713c,delivered,1.0,368c6c730842d78016ad823897a372db,2017-10-15,2017Q4
4,e0eea8f69a457b3f1fa246e44c9ebefd,4d221875624017bc47b4d1ce7314a5b7,ES,3a6d41a4fe7a8e841b7c8e4b77d4e301,delivered,1.0,ee0c1cf2fbeae95205b4aa506f1469f0,2017-11-24,2017Q4
...,...,...,...,...,...,...,...,...,...
17213,935993f47af1ed7d0715c26b686341c5,4452b8ef472646c4cc042cb31a291f3b,SP,e86b1b2dd48839d7351406434afb578d,delivered,1.0,5d66715cc928aadd0074f61332698593,2017-11-25,2017Q4
17214,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,MG,51c6d2f460589fa7b65f2da51e860206,delivered,1.0,c98bf47f7bea8f3aee82fa023786b8a1,2017-11-14,2017Q4
17215,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,MG,c9aea907527f5d4f5fb44955c18a79fb,delivered,1.0,c770c3d5ab511e88a96d387bdb0b6ce0,2017-12-18,2017Q4
17216,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,1.0,f819f0c84a64f02d3a5606ca95edd272,2017-11-03,2017Q4
17217,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,1.0,017692475c1c954ff597feda05131d73,2017-12-19,2017Q4

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,29150127e6685892b6eab3eec79f59c7,delivered,1.0,4aa6014eceb682077f9dc4bffebc05b0,2018-01-12,2018Q1
1,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP,951670f92359f4fe4a63112aa7306eba,delivered,1.0,a5647c44af977b148e0a3a4751a09e2e,2018-03-13,2018Q1
2,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,SP,36e694cf4cbc2a4803200c35e84abdc4,delivered,1.0,b5466db4cecf95c3c1be0ba32538ce1a,2018-02-19,2018Q1
3,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,PR,1ebeea841c590e86a14a0d7a48e7d062,delivered,1.0,08401f48b67a852d06105725c3013eff,2018-01-18,2018Q1
4,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,MG,7433cbcc783205509d66a5260da5b574,delivered,1.0,78efe838c04bbc568be034082200ac20,2018-01-08,2018Q1
...,...,...,...,...,...,...,...,...,...
20462,b7c889215de76857c7967c1011125d2d,522e244a96d13876c5bac4985a8d5075,PR,1a9543c90f188e2e4fb14327ad4a9c9b,delivered,1.0,e8316a4667e5870c85e906b1f062bde1,2018-01-31,2018Q1
20463,30c96385d694acb8aa2dc0df1770120b,b96d6a178adbabf269fd843b37327798,RJ,357b4b724bbf34f1d64b1c5dfdc88120,delivered,1.0,bdc3291ab242ec1effc8eb0987850268,2018-01-24,2018Q1
20464,5eef6cce1f34954c9e7004332388ccc7,5a1680640123fc80e801301a2fb57395,SP,9bb5771c04f059c10c1f9783fe164d90,delivered,1.0,3e5201fe0d1ba474d9b90152c83c706c,2018-03-15,2018Q1
20465,0a7db3996b88954c7aa763b5dd621d5b,15637b62dfa4c5a9df846b22beef0994,PE,d8b354d53fff40dcc80a7e64dbfc2878,delivered,1.0,e7a6e03b3e02c37299f6ea8398a08629,2018-02-13,2018Q1
20466,f255d679c7c86c24ef4861320d5b7675,d111b06b6f3a2add0d2241325f65b5ca,SP,ca978d2459ea2c5ef6d5fde02be26b9c,delivered,1.0,163da86e86f0089de089399c28c3fcbb,2018-03-06,2018Q1

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,1.0,bd07b66896d6f1494f5b86251848ced7,2018-05-20,2018Q2
1,1f1c7bf1c9b041b292af6c1c4470b753,3151a81801c8386361b62277d7fa5ecf,RS,6c949e670b5d33dc8fb8ad25b6da4860,delivered,1.0,31cddbc370031fbb839a21441df28015,2018-04-02,2018Q2
2,c5c61596a3b6bd0cee5766992c48a9a1,b6e99561fe6f34a55b0b7da92f8ed775,SP,ec28553b12bef4b538e5d7454464a1c6,delivered,1.0,e64e4ef7b809314306d9c09635d8cd30,2018-06-18,2018Q2
3,2938121a40a20953c43caa8c98787fcb,482441ea6a06b1f72fe9784756c0ea75,SP,0198c71148c2e08c7c52b860f640fa4e,delivered,1.0,138d7037b59dcee052810952c983033b,2018-05-09,2018Q2
4,cb721d7b4f271fd87011c4c83462c076,a5844ba4bfc8d0cc61d13027c7e63bcc,SP,6cdc131d3c28253cd03cd0fbc3d5f938,delivered,1.0,777d2e438a1b645f3aec9bd57e92672c,2018-05-16,2018Q2
...,...,...,...,...,...,...,...,...,...
19467,be842c57a8c5a62e9585dd72f22b6338,ca186065de6e2d01cfc99763e6d62048,RS,75c3993b743335fa57b1645f056b59d2,delivered,1.0,c65f71634a9d0de5b4a1d7dbb6d3ae01,2018-06-06,2018Q2
19468,f5a0b560f9e9427792a88bec97710212,b3e53d18a997f27a3ffd16da497eaf58,SP,97d6c1727b0d36b8d04035e35d86f40f,delivered,1.0,e0d64dcfaa3b6db5c54ca298ae101d05,2018-05-18,2018Q2
19469,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,1.0,ccb4503d9d43d245d3b295d0544f988b,2018-04-07,2018Q2
19470,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,1.0,9ede6b0570a75a4b9de4f383329f99ee,2018-04-04,2018Q2
19471,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,CE,fed4434add09a6f332ea398efd656a5c,delivered,1.0,7a5d2e1e131a860ae7d18f6fffa9d689,2018-04-08,2018Q2

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
0,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,1.0,9391a573abe00141c56e38d84d7d5b3b,2018-07-29,2018Q3
1,a7c125a0a07b75146167b7f04a7f8e98,5c2991dbd08bbf3cf410713c4de5a0b5,RJ,72bab69c50432c6f94d8b50a5f84b69a,delivered,1.0,811ea06b526cf16fd375cbabb9b8a99f,2018-08-13,2018Q3
2,167bd30a409e3e4127df5a9408ebd394,9c0096673baf55453a50073f12d1a37f,GO,d10eafa208521dc30796e6a26099b6a6,delivered,1.0,9a469eaf45dfbc43d39ba1977a3c07af,2018-07-14,2018Q3
3,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,MA,997fd4b37386d10b57d4ac8cdec011a6,delivered,1.0,8ed094bfe076c568f6bb10feada3f75d,2018-07-08,2018Q3
4,4a0e66fd30684aa1409cd1b66fec77cc,86085586aaa8c5f47ed0b400da64c59d,SP,42cebac003b40e6aa0b3e37b99d83c2f,delivered,1.0,a92930c327948861c015c919a0bcb4a8,2018-07-10,2018Q3
...,...,...,...,...,...,...,...,...,...
12468,cf1ec2659f4b1f34f858a0c25e1d5d1a,592134387e7f13de6a9e38eb7d412b3d,RN,f90d9d087252c72d1f8a43c65f16f515,delivered,1.0,90efe66f56959c0750c866fd59f9f92e,2018-08-04,2018Q3
12469,4951ae40c746cbd07eecef33fc053e89,e18e1db417f0bc97f9065c4aeae3f9d3,BA,9eb075cc33882ff5997d289a55aab488,delivered,1.0,409ad0594dd6af287d870a566756dc10,2018-07-28,2018Q3
12470,f6c6d3e1e20969a5eed982163f959719,fb354969e06f2093c0083cbfbb91864e,SP,b2f58affcc178fea2daaf834f1acff5e,delivered,1.0,9682ad2500ae8b2609e6a88eb0cbc5bb,2018-07-17,2018Q3
12471,330786b82d1da4f900da3f8124a9f4f0,ff2331f4155cedbbbca83885595b1208,SP,72f3f62e2e4208804e2c4ed8a28ead52,delivered,1.0,cebff45f1d1558430be0e07ac0df6a68,2018-07-20,2018Q3
12472,c156d63bdfce1d456bd43cf1c4dadfca,e5cf9da72b751849b7b217f7a943d0fa,SP,98484b32a3bbf287f3347e001275ed21,delivered,1.0,e966b10d5690d77bfc03cef8f9a26d57,2018-07-21,2018Q3

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
43250,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,1.0,017692475c1c954ff597feda05131d73,2017-12-19,2017Q4
18092,36318088e4bc5369085a4550491f9d60,75d0154ed5d24c347fd4c5bccc050e1c,SP,a7db1b7bfec5e83a8fd33625e99f0d15,delivered,1.0,2fa5da96109ea94cc9fb50cc589ed65e,2017-10-11,2017Q4
18108,27521e9ab2d6a683db9364fa35f83d3e,99931a2b84e283bf84983b800bac2509,SP,e23006337203868e5bd34c7e188eb87d,delivered,1.0,aca2eb7d00ea1a7b8ebd4e68314663af,2017-12-01,2017Q4
36631,0ec1d2c13f8309ab79e431af6dc72245,b6b5367f6d344682c90126fe86594604,RJ,3218aff04047889f8c6eaafbbcb4ea4e,delivered,1.0,87c9f9f88ecd5b9de26a0a61e06e1d67,2017-12-10,2017Q4
18103,def2cde31a49d08938ed47d1769adf6e,c351fc20bfae0e5f5ed16c91d3bdad68,GO,676dc08d3b7a83fc6f45f5e0eb1a2d9a,delivered,1.0,9c60b810e32e14c3a278742567720634,2017-11-24,2017Q4
...,...,...,...,...,...,...,...,...,...
16969,8ba5ebeb32e198115c4c1d5f14b17ee1,65ed7a2c3e8e1c528f16e2b887489f08,SP,4fd4634c3c8d7f2b7788e9c3902565ab,delivered,1.0,9f8aa40ada6e2b65a3bb5643754bf262,2017-03-31,2017Q1
16978,f6a6ff9806cd24a90d1b1f7463df9d52,f80f8939945e7124d3aa21129986b932,RJ,717d28ee12c7c0ef8b384ff1b62b33c7,delivered,1.0,d32c445df9d36f1cdfc915ed14ee44cd,2017-01-22,2017Q1
16980,d09c63d11bf98283700a7b5ce520ea8d,5cf05aa043b8c18f4350325eb425f107,RS,65fafe7de184fc57f3b77381cf6dc573,delivered,1.0,a1efe4a86746c22541813e22e1d23e33,2017-02-16,2017Q1
16989,6d5097d527f1fff08f0eb49eae46dea2,4d8de73bea31008a463a284851bffbd8,SP,9762ce369c139815a59772bd1efe4496,delivered,1.0,0d04a8284bd80aba2723d62bdb330b4d,2017-03-07,2017Q1
21625,c4bc7e3472ec59cc181b8441fef3e0c3,62005030b1a2bad3360ff68271a75edf,MG,8aa40dadd2c1f011024a9f8656853103,delivered,1.0,6bbe55cf8f85c87b6eebb775a53402f4,2017-02-26,2017Q1

,customer_id,customer_unique_id,customer_state,order_id,order_status,order_item_id,product_id,Date,Quarter_Info
18871,d95ca02ab50105ccce682bdf9ffdc3b4,a5c6335399140e986db84120c425adf0,GO,6c355e2913545fa6f72c40cbca57729e,delivered,1.0,32e18e89237933ebdaaebd78a27e7fa1,2018-07-27,2018Q3
18760,e0cbbba7a2fa78ffe362f2e99a750d7f,f3ea47a3ac18c70b0cb708c70554b8b4,PE,d74f1b25b78535c9b35042c0abb9c828,delivered,1.0,55782cb82e0efe052da0a3da237da3b2,2018-07-13,2018Q3
18796,43252ddf36a267998e866edf8e5b873a,4672927eb24d0d31b70521db7713678d,SP,d234f846aac643047caabb1171030524,delivered,1.0,6c8b2975a4a05d1f36948b20753b29ca,2018-07-18,2018Q3
45127,c780c18f44b29fa4d0f06f3220d466f4,d9a248c7d735e41a7cba546890997269,PR,f718de7d7e4e4598f3579368cca01a91,delivered,1.0,4a811f113c9c23284366e6dd165ba484,2018-07-29,2018Q3
18794,2432c837b254b9f016e2e901f69afddd,dd24eb60ec1ada8b5201cbe4bba11346,SP,0cf4406688aab4ea5593cc48304e8887,delivered,1.0,462646c1c1495199e63684d79e6e0d1b,2018-08-11,2018Q3
...,...,...,...,...,...,...,...,...,...
25266,6dc3ca63b413933ab4fd6581377a9a7b,22e0fc8130c88be1e1fb7b144191654b,SP,61e5a319032ea9f5d404dd3f2cbe2a8f,delivered,1.0,d5fe61375316d1998d0aac7adbb8b9ab,2018-03-01,2018Q1
25265,7382178892f1ea46099be9e80c5f3736,616c91c7231d7a3c9d47537dfe05f644,SP,e742713350aa1d4a7a0c80ed2f3ad4d5,delivered,1.0,5f2ace2fddff857d247fa4f6ec591474,2018-03-12,2018Q1
25264,3bfd6087dc6d9b4982748af54b599117,adc4db687c16e09845f414d822e96849,SP,16180652c3b2890c8cc7a24b68663fc9,delivered,1.0,12f54c9922a614df9d112a6d7537bb9d,2018-02-24,2018Q1
25263,5ce865a639501214aa516a7f5e1b8c98,1bdded1780969d2f7210a047c714a50d,SP,064406f58fe12697ff148d9a5851fe9e,delivered,1.0,5ab3c4c7b2b499f85cf923cd0f331c9f,2018-02-02,2018Q1
26206,b6db7d9f41c9446f14e55db357f4fe0a,12a1f3d9e37e23f67cef3a828a0ba029,SP,edcfddeb9be8cad09b23188aec1f3fc0,delivered,1.0,f731f8587d4088c174397e010cf892a9,2018-03-25,2018Q1

In [56]:
def pctC (olddf,newdf):
    change= ((newdf.shape[0]-olddf.shape[0])/olddf.shape[0])
    return(change)

In [57]:
newcol=[pctC(y1q1,y1q2),pctC(y1q2,y1q3),pctC(y1q3,y1q4),pctC(y1q4,y2q1),pctC(y2q1,y2q2),pctC(y2q2,y2q3),pctC(y1,y2)]

In [64]:
names=['2017Q1-2017Q2','2017Q2-2017Q3','2017Q3-2017Q4','2017Q4-2018Q1','2018Q1-2018Q2','2018Q2-2018Q3','End of 2017-Q3 of2018']

ab = pd.DataFrame(names,columns={'Year Range'})
ab['Growth Rate']=newcol
ab

              Year Range  Growth Rate
0          2017Q1-2017Q2     0.776318
1          2017Q2-2017Q3     0.353574
2          2017Q3-2017Q4     0.425095
3          2017Q4-2018Q1     0.188698
4          2018Q1-2018Q2    -0.048615
5          2018Q2-2018Q3    -0.359439
6  End of 2017-Q3 of2018     0.211810

In [65]:
excelFile= pd.ExcelWriter('Customer Growth Rate General.xlsx')

ab.to_excel(excelFile)

excelFile.save()

ab.to_csv('Customer Growth Rate General.csv')

In [69]:
excelFile2= pd.ExcelWriter('Customer Growth Rate All years.xlsx')



tb4.to_excel(excelFile)



excelFile.save()



tb4.to_csv('Customer Growth Rate All years.csv')